@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Inconsolata&family=Open+Sans:wght@400;500;800&display=swap');

$mobile-design-threshold: 600px;

$margin: 30px;

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--text);
    
    overflow-wrap: break-word;
    transition: all 0.2s;
}

:root {
    width: 100%;
    overflow-x: hidden;

    --accent: #E6CE19;
    --accent-compliment: #E5B61A;
    --accent-contrast: hotpink;

    @supports selector(:has(a)) {
        :has(#light:checked), .light {
            --text: #000;
            --background: #F6F6F6;
            --background-contrast: #FFF;
        }
    
        :has(#solarized:checked), .solarized {
            --text: #002b36;
            --background: #eee8d5;
            --background-contrast: #fdf6e3;
            --accent: #b58900;
            --accent-compliment: #e5ac00;
            --accent-contrast: #d33682;
        }
    
        :has(#dark:checked), .dark {
            --text: #fff;
            --background: #222222;
            --background-contrast: #2e2e2e;
    
            header, nav {
                --background-contrast: #1c1c1c;
            }
        }
    }

    // Default to Solarized if the browser doesn't support
    // CSS themes
    @supports not selector(:has(a)) {
        --text: #002b36;
        --background: #eee8d5;
        --background-contrast: #fdf6e3;
        --accent: #e5ac00;
        --accent-compliment: #b58900;

        #theme-controls {
            display: none;
        }
    }
}

a {
    text-decoration: none;
    color: var(--accent);

    :visited {
        color: var(--accent-compliment);
    }

    * {
        color: var(--accent);
        :visited {
            color: var(--accent-compliment);
        }
    }
}

html {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif, system-ui;
    background-color: var(--background);
}

h1,h2,h3,h4,h5,h6 {
    margin-left: $margin;
    margin-right: $margin;
}

h1,h2,h3 {
    font-family: "Open Sans", sans-serif;

    * {
        font-family: "Open Sans", sans-serif;
    }
}

p, a, h4, h5, h6 {
    font-family: "EB Gramond", serif;
}

body {
    overflow-x: hidden;
    background-color: var(--background);

    * {
        transition-duration: 0.2s;
    }
}

code {
    font-family: 'Inconsolata', monospace;

    text-align: left;
}

footer {
    width: 100%;
    background-color: var(--background-contrast);
    padding: 1rem;
}