@mixin outline-hover {
    // outline-color: var(--accent);

    box-shadow: 0 0 0 5px var(--accent);

	// outline-width: 5px;
	// outline-style: solid;
	// outline-offset: 0.5rem;

    border-radius: 1rem;
    
    &:hover {
        box-shadow: 0 0 0 10px var(--accent-contrast);
    }
}