---
import Layout from "../layouts/Layout.astro";
import Carousel from "./carousel.svelte";

import "../styles/index.scss";
---

<script>
    const theme_picker: NodeListOf<HTMLInputElement> = document.querySelectorAll('[name="theme"]');
    
    theme_picker.forEach(x => {
        x.addEventListener("click", () => {
            localStorage.setItem("theme", x.value)
        })
    })

    const theme_id = localStorage.getItem("theme") || "dark";

    const theme: HTMLInputElement = document.querySelector(`[id="${theme_id}"]`);

    theme.checked = true;
</script>

<Layout title="Mahmoud Moursy">
    <div id="theme-controls">
        <label for="theme-picker">Theme.</label>
        <form name="theme-picker">
            <input type="radio" name="theme" id="dark" value="dark" checked>
            <input type="radio" name="theme" id="solarized" value="solarized">
            <input type="radio" name="theme" id="light" value="light">
        </form>
    </div>

    <header>
        <div>
            <h1>Mahmoud <span class="gradient-fwd">Moursy</span>.</h1>
            <h2><span class="gradient-bwd">Backend Engineer</span></h2>
        </div>
    </header>

    <Carousel />

    <h3>OSS <span class="gradient-fwd">Contributions</span></h3>

    <div id="oss-contributions">
        <div class="rust">
            <h4>Rust</h4>

            <p>
                Worked with the Rust release team lead to contribute nearly a thousand lines of code spanning 
                over one hundred files in order to modernize macro formatting across the core and standard 
                libraries.
            </p>
        </div>
        <div>
            <h4>Hyper</h4>

            <p>
                Removed redundant code and compartmentalized it into a function to reduce repitition.
            </p>
        </div>
        <div>
            <h4>Svelte</h4>

            <p>
                Fixed a grammatical error within the documentation
            </p>
        </div>
        <div>
            <h4>Node.JS</h4>

            <p>
                Contributed to docs regarding finding memory leaks within Node's sourcecode
            </p>
        </div>
        <div>
            <h4>Next.JS</h4>

            <p>
                Rewrote portions of the documentation (as well as code samples) to reduce redundancy and increase clarity.
            </p>
        </div>
    </div>
</Layout>