---
import Layout from "../layouts/layout.astro";
import Carousel from "../components/carousel.svelte";
import ThemePicker from "../components/theme_picker.svelte";

import "../styles/index.scss";
---
<h4 class="red-banner">I'm a work-in-progress!</h4>

<ThemePicker client:load />

<Layout title="Mahmoud Moursy">
    <header>
        <div>
            <h1>Mahmoud <span class="gradient-fwd">Moursy</span>.</h1>
            <h2><span class="gradient-bwd">Backend Engineer</span></h2>
        </div>
    </header>

    <Carousel client:idle />

    <h3>OSS <span class="gradient-fwd">Contributions</span></h3>

    <div id="oss-contributions">
        <div class="rust">
            <h4>Rust</h4>

            <p>
                Worked with the Rust release team lead to contribute nearly a thousand lines of code spanning 
                over one hundred files in order to modernize macro formatting across the core and standard 
                libraries.
            </p>
        </div>
        <div>
            <h4>Hyper</h4>

            <p>
                Removed redundant code and compartmentalized it into a function to reduce repitition.
            </p>
        </div>
        <div>
            <h4>Svelte</h4>

            <p>
                Fixed a grammatical error within the documentation
            </p>
        </div>
        <div>
            <h4>Node.JS</h4>

            <p>
                Contributed to docs regarding finding memory leaks within Node's source code
            </p>
        </div>
        <div>
            <h4>Next.JS</h4>

            <p>
                Rewrote portions of the documentation (as well as code samples) to reduce redundancy and increase clarity.
            </p>
        </div>
    </div>
</Layout>