---
import Layout from "../layouts/layout.astro";
import Carousel from "../components/carousel.svelte";
import ThemePicker from "../components/theme_picker.svelte";

import { Icon } from "astro-icon";

import "../styles/index.scss";
---
<Layout title="Mahmoud Moursy">
    <header>
        <div>
            <h1>Mahmoud <span class="gradient-fwd">Moursy</span>.</h1>
            <h2><span class="gradient-bwd">Backend Engineer</span></h2>
        </div>
        <Carousel client:idle />
        <a href="#showcase">&downarrow;</a>
    </header>

    <div id="showcase">
        <div id="oss-showcase">
            <h3>OSS <span class="gradient-fwd">Contributions</span></h3>

            <div id="oss-contributions">
                <div class="rust">
                    <h4>Rust</h4>

                    <p>
                        Worked with the Rust release team lead to contribute
                        nearly a thousand lines of code spanning over one
                        hundred files in order to modernize macro formatting
                        across the core and standard libraries.
                    </p>
                </div>
                <div>
                    <h4>Hyper</h4>

                    <p>
                        Removed redundant code and compartmentalized it into a
                        function to reduce repitition.
                    </p>
                </div>
                <div>
                    <h4>Svelte</h4>

                    <p>Fixed a grammatical error within the documentation</p>
                </div>
                <div>
                    <h4>Node.JS</h4>

                    <p>
                        Contributed to docs regarding finding memory leaks
                        within Node's source code
                    </p>
                </div>
                <div>
                    <h4>Next.JS</h4>

                    <p>
                        Rewrote portions of the documentation (as well as code
                        samples) to reduce redundancy and increase clarity.
                    </p>
                </div>
            </div>
        </div>
        <div id="project-showcase">
            <h3>Top Projects</h3>

            <div id="top-projects">
                <div>
                    <h4>KongScript</h4>
                    <p>Read me.</p>
                </div>
                <div>
                    <h4>Shrimp3</h4>
                    <p>Read me.</p>
                </div>
                <div>
                    <h4>FiddleOS</h4>
                </div>
            </div>
        </div>
        <div id="tools-showcase">
            <h3>My toolbox</h3>

            <div>
                <div id="toolbox">
                    <ul>
                        <li>
                            <Icon name="simple-icons:svelte" />
                            Svelte
                        </li>
                        <li>
                            <Icon name="simple-icons:tailwindcss" />
                            TailwindCSS
                        </li>
                        <li>
                            <Icon name="simple-icons:sass" />
                            Sass/Scss
                        </li>
                        <li>
                            <Icon name="simple-icons:rust" />
                            Rust
                        </li>
                        <li>
                            <Icon name="simple-icons:javascript"/>
                            JavaScript
                        </li>
                        <li>
                            <Icon name="simple-icons:typescript"/>
                            TypeScript
                        </li>
                        <li>
                            <Icon name="simple-icons:python"/>
                            Python
                        </li>
                        <li>
                            <Icon name="simple-icons:nodejs"/>
                            Node.JS
                        </li>
                        <li>
                            <Icon name="simple-icons:deno"/>
                            Deno
                        </li>
                        <li>
                            <Icon name="simple-icons:webassembly"/>
                            WebAssembly
                        </li>
                        <li>
                            <!-- simple-icons:mysql looks bad at small font sizes. -->
                            <Icon name="fontisto:mysql"/>
                            MySQL (and other SQL DBs <Icon name="simple-icons:postgresql" /> )
                        </li>
                        <li>
                            <Icon name="simple-icons:mongodb" />
                            MongoDB
                        </li>
                        <li>
                            <Icon name="simple-icons:astro" />
                            Astro
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <ThemePicker client:visible />
</Layout>